
<div class="modal fade" id="ic_modal_withdraw_usdt">
    <div class="modal-dialog modal-dialog-centered mw-500px">
        <div class="modal-content rounded">
            <div class="modal-header pb-0 border-0 justify-content-end">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-10">
                <form class="form">
                    @Html.AntiForgeryToken()
                    <div class="mb-6 text-center">
                        <h2 class="mb-3">Wallet USDT</h2>
                        <div class="text-muted fw-bold fs-5">
                            <a href="#" class="link-primary fw-bolder">Minimum withdraw 10,000 USDT</a>
                        </div>
                    </div>

                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Wallet USDT</label>
                            <a class="link-warning fs-6 fw-bolder">USDT</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid USDTBalance" type="text" readonly/>
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Amount</label>
                            <a class="link-warning fs-6 fw-bolder">USDT</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid numberFormat" type="text" id="txtUSDTAmount"/>
                        <span class="form-label fs-7 mt-1 text-danger lblUSDTErrorInsufficient"></span>
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Fee</label>
                            <a class="link-warning fs-6 fw-bolder">2%</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" value="0" type="text" readonly id="txtUSDTFeeAmount" />
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Amount Receive</label>
                            <a class="link-warning fs-6 fw-bolder">USDT</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" value="0" type="text" readonly id="txtUSDTReceiveAmount" />
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Address Receive</label>
                            <a class="link-success fs-6 fw-bolder">Bep20 address (smart chain)</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" type="text" id="txtUSDTAddressTo" autocomplete="off" />
                    </div>

                    <div class="text-center">
                        <a href="#" id="btnConfirmWithdrawUSDT" class="btn btn-light-dark btn-active-color-success me-2 mb-2">
                            Submit
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>