@using System.Linq
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@section Styles{

    <style>
        .validation-summary-errors {
            color: red
        }
    </style>


}

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
}

<!-- SignUp-SignIn_Sectioon -->
<div class="SignUp_SignIn_Form_Sect">
    <div class="SignUp_SignIn_Form_SectBG"></div>
    <div class="container">
        <div class="SignUp_SignIn_Form_Content">
            <div class="SignUp_SignIn_Form signInForm">
                <h2>Sign in</h2>
                <h3>Enter your email address and password to get access your account</h3>
                <form method="post" action="/login" id="myForm">

                    @Html.HiddenFor(x => x.ReturnUrl)

                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary()

                    <div class="EmailFild">
                        <lable>Email Address</lable>
                        <input type="email" asp-for="Email" id="txtEmail" required autocomplete="off" placeholder="Enter your email address">
                    </div>

                    <div class="PasswordFild mb-3">
                        <lable>Password</lable>
                        <input asp-for="Password" id="txtPassword" required autocomplete="off" placeholder="Enter your password">
                    </div>

                    <div class="EmailFild">
                        <recaptcha />
                        <span class="text-danger" id="recaptchaErrorMessage"></span>
                    </div>

                    <div class="forgetPassBtnSect">
                        <div class="KYC_TramsAndCondetionSect m-0">
                            <a href="/resendemailconfirm">Resend Email Confirm ?</a>
                        </div>
                        <div class="ForgetPass">
                            <a href="/forgotpassword">Forget Password ?</a>
                        </div>
                    </div>

                    <a href="javascript:void(0)" onclick="document.getElementById('myForm').submit();">
                        <div class="text-center black-shape-bigCustom">
                            <button type="submit">Submit</button>
                        </div>
                    </a>
                </form>
                <h4>Don’t have an account ? <a href="/register">Sign up now !</a></h4>
            </div>
            <div class="singUpformShadow"></div>
        </div>
    </div>
</div>


