

            <!-- SignUp-SignIn_Sectioon -->
		<div class="SignUp_SignIn_Form_Sect">
            <div class="SignUp_SignIn_Form_SectBG"></div>
		    <div class="container">
		        <div class="SignUp_SignIn_Form_Content">
		            <div class="SignUp_SignIn_Form">
		                <h2>Password is changed</h2>
		                <h3>Your password is successfully changed. Please Sign
                    <br>in to your account and start join ecosystem.</h3>
		                
		                <h4>Already have an account ? <a href="/login">Sign in now !</a></h4>
		            </div>
		            <div class="singUpformShadow"></div>
		        </div>
		    </div>
		</div>		
		<!-- SignUp-SignIn_Sectioon END -->