@section Styles{
    <link href="~/client-app/controllers/wallet-transaction/index.css" rel="stylesheet" />
}

@section Scripts{

    <script src="~/client-app/controllers/wallet-transaction/index.js"></script>
    <script>
        var walletTransactionObj = new WalletTransactionController();
        walletTransactionObj.initialize();
    </script>
}

<!-- Breadcrumbs Section Start -->
<div class="gamfi-breadcrumbs-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="breadcrumbs-area sec-heading">
                    <div class="sub-inner mb-15">
                        <a class="breadcrumbs-link" href="/">Home</a>
                        <span class="sub-title">Transaction</span>
                        <img class="heading-left-image" src="~/client-side/earntoken/assets/images/icons/steps.png" alt="Steps-Image" />
                    </div>
                    <h2 class="title mb-0">Transaction</h2>
                </div>
            </div>
            <div class="col-lg-7 breadcrumbs-form md-mt-30">
                <div class="btn-area">
                    <a class="readon black-shape" href="@Url.Action("Index","Wallet")">
                        <span class="btn-text">Wallet</span>
                        <span class="hover-shape1"></span>
                        <span class="hover-shape2"></span>
                        <span class="hover-shape3"></span>
                    </a>
                    <a class="readon black-shape mr-5" href="@Url.Action("Index","RequestStatus")">
                        <span class="btn-text">Request Status</span>
                        <span class="hover-shape1"></span>
                        <span class="hover-shape2"></span>
                        <span class="hover-shape3"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs  Section End -->
<!-- Previous Section Start -->
<div class="gamfi-previous-section TokenomicsTable_Sect md-pb-50 mt-5 pt-5">
    <div class="container">
        <div class="TokenomicsTable">
            <div class="leaderboard-table-list pb-140 md-pb-80">
                <div class="">
                    <div class="table-responsive">
                        <table class="table table-row-dashed table-row-gray-300 align-middle mb-55">
                            <tr >
                                @*<th>Sponsor<br />Address</th>*@
                                <th class="text-warning">Amount</th>
                                <th class="text-warning">Fee<br />Fee Amount</th>
                                <th class="text-warning">Amount Receive</th>
                                <th class="text-warning">Address From<br />Address To<br />Transaction Hash</th>
                                <th class="text-warning">Type</th>
                                <th class="text-warning">Create Date</th>
                                <th class="text-warning">Remarks</th>
                            </tr>
                            <tbody id="tbl-content"></tbody>
                        </table>
                    </div>
                    @await Component.InvokeAsync("AjaxPaging")

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Previous Section End -->
<script id="table-template" type="x-tmpl-mustache">
    <tr class="{{bgName}}">
        <td>{{Amount}} {{UnitName}}</td>
        <td>{{Fee}}%<br />{{FeeAmount}} {{UnitName}}</td>
        <td>{{AmountReceive}} {{UnitName}}</td>
        <td>
            <a href="https://bscscan.com/address/{{AddressFrom}}" target="_blank">{{AddressFrom}}</a><br />
            <a href="https://bscscan.com/address/{{AddressTo}}" target="_blank">{{AddressTo}}</a><br />
            <a href="https://bscscan.com/tx/{{TransactionHash}}" target="_blank">{{TransactionHash}}</a>
        </td>
        <td>{{TypeName}}</td>
        <td>{{DateCreated}}</td>
        <td>{{Remarks}}</td>
    </tr>
</script>
